@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: rgb(249, 249, 249);
}
img {
  outline: 0;
}
/* navbar  */

/* hero part start */
#hero-container {
  margin-top: 50px;
}
.hero-btn {
  background-color: rgb(102, 65, 238);
  color: #fff;
}
.hero-btn:hover {
  background-color: rgb(73, 29, 233);
  color: aliceblue;
}
.date {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 12px;
}
.head-txt {
  font-size: 1rem;
  font-weight: 500;
  padding: 10px;
}
.news-headlines {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

/* hero part end */
/* .news title area start */
.news-title-area {
  margin-bottom: 100px;
}
.news-card {
  position: relative;
}
.news-title {
  position: absolute;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.368);
  bottom: 0;
  left: 0;

  color: #fff;
}
/* .news title area end */
/* editors pick part start */
.upper-p {
  font-size: 12px;
  color: #333333;
}
.lower-p {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
/* latest news container start */
#latest-news-container {
  background-color: #f08f64;
  padding: 50px 0;
  margin: 100px 0;
}
/* latest news container end */
/* technology part start */
.img-container {
  position: relative;
}
.txt-part {
  position: absolute;
  width: 100%;
  /* height: 30%; */
  background-color: #0606067a;
  top: 0;
  left: 0;
  color: #fff;
  padding: 30px;
}
.name {
  height: 30px;
  width: 150px;
  background-color: #f08f64;
  color: #000;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 20px;
}
/* technology part end */
/* advertisement part start */
.btn-adver {
  background-color: #f08f64;
  color: #000;
  padding: 10px 20px;
  border-radius: 30px;
}
.advertisement-part {
  position: relative;
}
.adv-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.349);
  color: #fff;
  border-radius: 0 0 5px 5px;
}
/* advertisement part end */
/* editorial team part start */

.editor-txt {
  background-color: rgba(0, 0, 0, 0.349);
  position: relative;
  top: -57px;
  left: 0;
  border-radius: 0 0 5px 5px;
  width: 100%;
}
/* editorial team part end */
/* footer part start */
.footer-part {
  background-color: #000;
  padding: 50px 0;
  color: #fff;
}
.btn-footer {
  background-color: #f08f64;
}
.foot-col p {
  font-size: 12px;
  color: 7e7b7b;
}
/* footer part end */
